/* RESPONSIVE CSS ========================================================================= */

/*Tablets en horizonal y escritorios normales------------------------------------------------------------------------- */
@media (min-width: 768px)  {
  /*Fuentes y Tama침o*/
  p, a, h2, h3 {
    font-family: "Arial Black";
    font-size: 1rem;
  }

  /*CSS PANEL DE CONTROL ROL: USER*/
  .user-image {
    margin: 30px;
    align-content: center;
    width: 50%;
  }

  hr {
    width: 100%;
    color: white;
  }

  .user-data {
    width: 50%;
    margin: 40px;
  }

  .name {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
  }

  .change-name {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .password {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
  }
  .password input {
    border-radius: 6px;
    margin: 10px;
  }


  .eliminate {
    text-align: center;
    background-color: darkred;
    border-radius: 6px;
    margin: 50px;
  }

  .eliminate:hover {
    background-color: red;
  }

  .profile {
    text-align: justify;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .profile a {
    text-decoration: none;
    color: black;
  }

  .profile a:hover {
    color: #21b916;
  }

  /*CSS PANEL DE CONTROL ROL: ADMIN*/
  .content-tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  .content-op-1 {
    width: 65%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  .content-op-2 {
    width: 25%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }

  .content-op-3 {
    width: 45%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  .content-op-4 {
    width: 45%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }

  .count-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .count {
    background-color: white;
    border-left: 3px solid #239107 !important;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
  }
  .aside-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aside-user h3 {
    margin-left: 10px;
  }

  .aside-dashboard {
    position: fixed;
    left: 0;
    top:95px;
    width: 300px;
    height: 100%;
    padding-left: 15px;
    background-color: #d5d8d5;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }







  /*CSS BOTONES*/
  .btn-color {
    background-color: #378311;
    border-radius: 0.375rem;
  }
  .btn-color a {
    color: white;
    width: 100%;
  }

  .btn-color a:hover  {
    color: white;
    background-color: #36b920;
  }

  /*CSS QUE HACEMOS*/
  .whatwedo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: 50px;
  }

  .whatwedo h1, .whatwedo p {
    margin: 20px;
  }



  /*CSS TALLER*/
  .reserve {
    margin-left: 310px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .reserve-box {
    margin: 20px;
    width: 100%;
    background-color: #555555;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;

  }

  #btn-reserve {
    margin-bottom: 35px;
  }

  .reserve-box-item {
    background-color: white;
    margin: 15px;
    height: 50px;
  }
  /*CSS TIENDA*/
  .main-tienda {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #d9ffd9;
  }
  aside {
    position: fixed;
    left: 0;
    top:95px;
    width: 300px;
    height: 100%;
    padding-left: 15px;
    font-style: italic;
    background-color: #d5d8d5;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .category-content {
    display: none;
    min-width: 160px;
    margin-left: 50px;
  }

  .category-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    text-align: left;
  }

  .category:hover .category-content {
    display: block;
  }
  .product-title {
    text-align: center;
  }
  .product-aline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }

  .filters select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  .filters select {
    margin: 30px;
  }
  .products {
    margin-left: 310px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .product {
    padding: 15px;
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .product img {
    max-width: 100%;
  }

  .product h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .product p {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .footer-store {
    position: static;
  }


  /*CSS COLOR*/
  .navbar-toggler , .navbar-toggler-icon {
    background-color: white!important;
  }
  .navbar-toggler:hover{
    border-width: 1px !important;
    border-color: #21b916 !important;
  }

  .navbar-nav {
    padding: 5px;
    background-color: rgba(42,45,49,1) !important ;
  }

  nav {
    background-color: rgba(42,45,49,1);
  }

  .nav-link:hover,.dropdown-item:hover  {
    color: #36b920 !important;
  }
  .dropdown-menu {
    background-color: rgba(42,45,49,1) !important;
  }
  .dropdown-item:hover  {
    background-color: rgba(42,45,49,1) !important;
  }

  footer div a:hover {
    color:  #36b920;
  }

  /*CSS SIGN UP IN */
  .imgUser {
    width:150px;
    height:150px;
    border-radius:150px;
  }
  .register-login-form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }

  .register-login-form form {
    width: 450px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  .register-login-box {
    margin-top: 20px;
    width: 450px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }

  .register-login-form h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .register-login-form input[type="text"],
  .register-login-form input[type="email"],
  .register-login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
  .register-login-form .button {
    text-decoration: none;
    background-color: #378311;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  .register-login-form .button:hover {
    background-color: #36b920;
    color: white;
  }

  .register-login-form p,.register-login-form a {
    margin-top: 20px;
    font-size: 14px;
  }

  .register-login-form a, .register-login-box a {
    color: #136c0c;
  }

  .register-login-form a:hover, .register-login-box a:hover {
    color: #21b916;
  }


  /*CSS UBICATION*/
  .ubication {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

  }
  .ubication img {
    width: 500px;

  }
  .description-ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:50%;
  }


  /*CSS PRESENTATION*/
  .presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .presentation img {
    width: 250px;

  }

  .description {
    padding: 20px;
    width:50%;
  }

  /*CSS CAROUSEL*/
  .carousel-home {
    width: 100%;
  }
  .carousel-home img {
    height: 350px;
  }

  /*CSS  HEADER*/
  header {
    width: 100%;
    position: fixed; /*absolute para que se mueva solo el ul*/
    left: 0;
    top: 0;
    z-index: 3;
  }

  nav{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
  }
  .navbar-logo img{
    display: block;
    width: 130px;
    height: 130px;
    height: auto;
  }
  nav ul {
    list-style: none;
    height: fit-content;
    position: fixed;
    right: 15px;
  }
  .nav-link, .dropdown-item, .dropdown-menu{
    float: left !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    color:white !important;
  }



  /*CSS FOOTER*/

  footer {
    border-top: 1px solid #000 !important;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(42,45,49,1);
    color: white;
    margin-top: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-col1 {
    width: 30%;
  }
  footer div p, footer div a  {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
  }

  .footer-col2, footer-col3 {
    width: 40%;
  }

  .footer-logo {
    height: auto;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*CSS MAIN*/

  main {
    background-color: #d9ffd9;
    margin-top: 100px;
  }

  .p-justify {
    text-align: justify;
  }






}

/* M칩viles en horizontal o tablets en vertical------------------------------------------------------------------------- */
@media (max-width: 767px) { }

/* M칩viles en vertical------------------------------------------------------------------------- */
@media (max-width: 480px) {
  /*Fuentes y Tama침o*/
  p, a, h2, h3 {
    font-family: "Arial Black";
    font-size: 1rem;
  }

  /*CSS PANEL DE CONTROL ROL: USER*/
  .user-image {
    margin: 30px;
    align-content: center;
    width: 50%;
  }

  hr {
    width: 100%;
    color: white;
  }

  .user-data {
    width: 50%;
    margin: 40px;
  }

  .name {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
  }

  .change-name {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .password {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
  }
  .password input {
    border-radius: 6px;
    margin: 10px;
  }


  .eliminate {
    text-align: center;
    background-color: darkred;
    border-radius: 6px;
    margin: 50px;
  }

  .eliminate:hover {
    background-color: red;
  }

  .profile {
    text-align: justify;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .profile a {
    text-decoration: none;
    color: black;
  }

  .profile a:hover {
    color: #21b916;
  }

  /*CSS PANEL DE CONTROL ROL: ADMIN*/
  .content-tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  .content-op-1 {
    width: 65%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  .content-op-2 {
    width: 25%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }

  .content-op-3 {
    width: 45%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  .content-op-4 {
    width: 45%;
    border-radius: 10px;
    border-left: 3px solid #239107 !important;
    background-color: #ffffff;
    overflow-y: scroll;
  }

  .count-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .count {
    background-color: white;
    border-left: 3px solid #239107 !important;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
  }
  .aside-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aside-user h3 {
    margin-left: 10px;
  }

  .aside-dashboard {
    position: fixed;
    left: 0;
    top:95px;
    width: 300px;
    height: 100%;
    padding-left: 15px;
    background-color: #d5d8d5;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }







  /*CSS BOTONES*/
  .btn-color {
    background-color: #378311;
    border-radius: 0.375rem;
  }
  .btn-color a {
    color: white;
    width: 100%;
  }

  .btn-color a:hover  {
    color: white;
    background-color: #36b920;
  }

  /*CSS QUE HACEMOS*/
  .whatwedo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .whatwedo h1, .whatwedo p {
    margin: 20px;
  }
  .whatwedo img {
    width: 100%;
    height: 250px;
  }


  /*CSS TALLER*/
  .reserve {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .reserve-box {
    margin: 20px;
    width: 100%;
    background-color: #555555;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;

  }

  #btn-reserve {
    margin-bottom: 35px;
  }

  .reserve-box-item {
    background-color: white;
    margin: 15px;
    height: 50px;
    width: 35%;
  }
  /*CSS TIENDA*/
  .main-tienda {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #d9ffd9;
  }
  aside {
    display: none;
    position: fixed;
    left: 0;
    top:95px;
    width: 300px;
    height: 100%;
    padding-left: 15px;
    font-style: italic;
    background-color: #d5d8d5;
  }

  .category-content {
    display: none;
    min-width: 160px;
    margin-left: 50px;
  }

  .category-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    text-align: left;
  }

  .category:hover .category-content {
    display: block;
  }
  .product-title {
    text-align: center;
  }
  .product-aline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }

  .filters select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  .filters select {
    margin: 30px;
  }
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .product {
    padding: 15px;
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 43%;
  }

  .product img {
    max-width: 100%;
  }

  .product h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .product p {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .footer-store {
    position: static;
  }


  /*CSS COLOR*/
  .navbar-toggler , .navbar-toggler-icon {
    background-color: white!important;
  }
  .navbar-toggler:hover{
    border-width: 1px !important;
    border-color: #21b916 !important;
  }

  .navbar-nav {
    padding: 5px;
    background-color: rgba(42,45,49,1) !important ;
  }

  nav {
    background-color: rgba(42,45,49,1);
  }

  .nav-link:hover,.dropdown-item:hover  {
    color: #36b920 !important;
  }
  .dropdown-menu {
    background-color: rgba(42,45,49,1) !important;
  }
  .dropdown-item:hover  {
    background-color: rgba(42,45,49,1) !important;
  }

  footer div a:hover {
    color:  #36b920;
  }

  /*CSS SIGN UP IN */
  .imgUser {
    width:150px;
    height:150px;
    border-radius:150px;
  }
  .register-login-form {
    margin:30px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }

  .register-login-form form {
    width: 332px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  .register-login-box {
    margin-top: 20px;
    width: 332px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }

  .register-login-form h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .register-login-form input[type="text"],
  .register-login-form input[type="email"],
  .register-login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
  .register-login-form .button {
    text-decoration: none;
    background-color: #378311;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  .register-login-form .button:hover {
    background-color: #36b920;
    color: white;
  }

  .register-login-form p,.register-login-form a {
    margin-top: 20px;
    font-size: 14px;
  }

  .register-login-form a, .register-login-box a {
    color: #136c0c;
  }

  .register-login-form a:hover, .register-login-box a:hover {
    color: #21b916;
  }


  /*CSS UBICATION*/
  .ubication {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

  }
  .ubication img {
    width: 350px;

  }
  .description-ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:50%;
  }


  /*CSS PRESENTATION*/
  .presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .presentation img {
    width: 250px;
    display: none;
  }

  .description {
    padding: 20px;
    width:100%;
  }

  /*CSS CAROUSEL*/
  .carousel-home {
    width: 100%;
  }
  .carousel-home img {
    height: 350px;
  }

  /*CSS  HEADER*/
  header {
    width: 100%;
    position: fixed; /*absolute para que se mueva solo el ul*/
    left: 0;
    top: 0;
    z-index: 3;
  }

  nav{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
  }
  .navbar-logo img{
    display: block;
    width: 130px;
    height: 130px;
    height: auto;
  }
  nav ul {
    list-style: none;
    height: fit-content;
    position: fixed;
    right: 15px;
  }
  .nav-link, .dropdown-item, .dropdown-menu{
    float: left !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
    color:white !important;
  }



  /*CSS FOOTER*/

  footer {
    border-top: 1px solid #000 !important;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(42,45,49,1);
    color: white;
    margin-top: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-col1 {
    width: 30%;
    display: none;
  }
  footer div p, footer div a  {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
  }
  .footer-col3 {
    width: 40%;
    margin-left: 60px;
  }
  .footer-col2{
    width: 40%;
  }

  .footer-logo {
    height: auto;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*CSS MAIN*/

  main {
    background-color: #d9ffd9;
    margin-top: 100px;
  }

  .p-justify {
    text-align: justify;
  }

}










