  /*CSS SIGN UP IN */
  .imgUser {
    height:100px;
    margin-bottom: 50px;
  }

  .register-login-form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }
  .register-login-form form {
    width: 450px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  .register-login-form form {
    width: 450px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  .register-login-box {
    margin-top: 20px;
    width: 450px;
    text-align: center;
    background-color: #d9ffd9;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  .register-login-form h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .register-login-form input[type="text"],
  .register-login-form input[type="email"],
  .register-login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
  .register-login-form .button {
    text-decoration: none;
    background-color: #378311;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  .register-login-form .button:hover {
    background-color: #36b920;
    color: white;
  }
  .register-login-form p,.register-login-form a {
    margin-top: 20px;
    font-size: 14px;
  }
  .register-login-form a, .register-login-box a {
    color: #136c0c;
  }
  .register-login-form a:hover, .register-login-box a:hover {
    color: #21b916;
  }
