  /*CSS FOOTER*/

  app-footer {
    border-top: 1px solid #000 !important;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(42,45,49,1);
    color: white;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-col1 {
    width: 30%;
  }
  app-footer div p, app-footer div a  {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
  }
  .footer-col2, footer-col3 {
    width: 40%;
  }
  .footer-logo {
    height: auto;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
