<div class="footer-col1" >
    <img class="footer-logo" src="../../assets/img/LOGO.png">
</div>

<div class="footer-col2">
    <p> CONTACTA CON NOSOTROS</p>
    <a href="tel:928-641-276">928641276</a><br>
    <a href="mailto:info@estacionbpsantabrigida.com">info@estacionbpsantabrigida.com</a><br>
    <a href="https://www.google.com/maps/dir//Gasolinera+BP+Santa+Br%C3%ADgida+C.+Casta%C3%B1o+Bajo,+10,+BAJO+
    35300+Sta+Br%C3%ADgida+Las+Palmas/@28.0304677,-15.4995801,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0xc4096cd375e4c51
    :0x49f99925c6d5640d!2m2!1d-15.4995801!2d28.0304677">Calle Castaño Bajo, 10, 35300, Santa Brígida Las Palmas</a><br>
</div>

<div class="footer-col3">
    <p>ENLACES LEGALES</p>
    <a href="#">Aviso Legal</a><br>
    <a href="#">Política de Privacidad</a><br>
    <a href="#">Política de Cookies</a><br>
</div>
