<ion-content [fullscreen]="true" scrollY="true" [scrollEvents]="true"  (ionScroll)="logScrolling($event)">
  <body>
    <header class="shadow-lg" id="header">
        <app-header *ngIf="!userService.isLoggedIn" class="shadow-lg" id="header"></app-header>
        <app-header-log *ngIf="userService.isLoggedIn" class="shadow-lg" ></app-header-log>
      </header>
  
    <main class="main-tienda">
  
        <aside id="aside" class="shadow-lg  mb-5 rounded">
            <button (click)="showCategoryMov(false)" type="button" class="btn btn-success">Volver..</button>
            <app-aside *ngFor="let category of categories" [category]="category.category" [subcategories]="category.subcategory" (cambioLista)="updateCategory($event)"></app-aside>
        </aside>
  
        <section class="products">
            <div>
                <h1 class="product-title">Productos Taller</h1>
                <div class="aside-mov">
                    <button (click)="showCategoryMov(true)"  type="button"
                        class="btn btn-light shadow-lg">Categorias</button>
                </div>
                <div class="filters">
                    <form class="d-flex ">
                        <a  (click)="queryFunc('ProductosTaller','NombreCorto',query.value)" class="btn btn-success me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0
                  1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                        <input autocomplete="off" id="query" class="form-control" type="search" placeholder="Buscar.."
                            aria-label="Search" #query>
                    </form>
                    <select class="form-select" aria-label="Default select example"  (change)="selectLoad($event)">
                        <option value="CodBarras.asc" selected>Ordenar por: defecto</option>
                        <option value="NombreCorto.asc">Ordenar por: Nombre (A-Z)</option>
                        <option value="NombreCorto.desc">Ordenar por: Nombre (Z-A)</option>
                        <option value="PVP.asc">Ordenar por: Precio (Menor a Mayor)</option>
                        <option value="PVP.desc">Ordenar por: Precio (Mayor a Menor)</option>
                    </select>
                </div>
                <div id="contenedor-productos" class="product-aline">
                    <!--Contenido Generado por main.js-->
                    <app-product *ngFor="let elemento of  productList" 
                    [CATEGORIA]="elemento.CATEGORIA"
                    [CodBarras]="elemento.CodBarras"
                    [FAMILIA]="elemento.FAMILIA"
                    [IMAGEN]="elemento.IMAGEN"
                    [NombreCorto]="elemento.NombreCorto"
                    [PROVEEDOR]="elemento.PROVEEDOR"
                    [PVP]="elemento.PVP"
                    [posCode]="elemento.posCode"
                    ></app-product>
                </div>
            </div>
            <div id="reload" (click)="reload()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
            </div>
            <app-footer class="footer-store" id="footer"></app-footer>
        </section>
    </main>
  </body>
</ion-content>
