<article class="reserve-box shadow-lg p-3 mb-5 bg-body rounded">
    <div class="dayOfWeek">
        <div class="dayOfWeekTitle">
            <h2>Lunes</h2>
            <p class="date">Fecha: aaaa-mm-dd</p>
        </div>
    </div>

    <div class="dayOfWeek">
        <div class="dayOfWeekTitle">
            <h2>Martes</h2>
            <p class="date">Fecha: aaaa-mm-dd</p>
        </div>
    </div>

    <div class="dayOfWeek">
        <div class="dayOfWeekTitle">
            <h2>Miércoles</h2>
            <p class="date">Fecha: aaaa-mm-dd</p>
        </div>
    </div>

    <div class="dayOfWeek">
        <div class="dayOfWeekTitle">
            <h2>Jueves</h2>
            <p class="date">Fecha: aaaa-mm-dd</p>
        </div>
    </div>

    <div class="dayOfWeek">
        <div class="dayOfWeekTitle">
            <h2>Viernes</h2>
            <p class="date">Fecha: aaaa-mm-dd</p>
        </div>
    </div>
</article>