<div class="card mb-3 card-carrito" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="img-product-cart" [style.background-image]="'url(' + IMAGEN + ')'">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body  card-body-cart">
        <div>
          <h5 class="card-title">{{NombreCorto}}</h5>
          <p class="card-text">{{PVP}}</p>
        </div>
        <div class="add-quite-buttons">
          <button type="button" class="btn btn-success add-buttons" (click)="logAdd()">+</button>
          <button type="button" class="btn btn-danger quite-buttons" (click)="logDelete()">-</button>
        </div>
      </div>
    </div>
  </div>
</div>
