<section class="perfil" id="Profile">
  <h1  class="tuPerfil">Tu perfil</h1>
  <hr>
  <div class="profile">
    <div class="user-data">
      <div class="name">
        <p> <strong>E-mail</strong></p>
        <input class="shadow-lg" type="text" readonly value="{{user.email}}">
        <br>
        <p> <strong>Nombre de usuario</strong></p>
        <input #name  class="shadow-lg" type="text"  value="{{user.userName}}">
        <div class="btn-color change-name">
          <a ref="" (click)="cambiarNombre(name.value)" class="btn">Cambiar nombre</a>
        </div>


      </div>

      <div style="display: none;" class="password">
        <input class="shadow-lg"  #pw0 minlength="6" maxlength="9" type="password" placeholder="Contraseña antigua">
        <input class="shadow-lg"  minlength="6" maxlength="9" #conNueva type="password" placeholder="Contraseña nueva">
        <input class="shadow-lg" #conNueva2  minlength="6" maxlength="9" type="password" placeholder="Contraseña nueva">
        <div class="btn-color">
          <a ref="#" (click)=" cambiarContrasena(conNueva.value,conNueva2.value, pw0.value)" class="btn">Cambiar contraseña</a>
        </div>
      </div>
      <p *ngIf="!contra"  style="color: red;" >*Repite bien la contraseña</p>
      <p *ngIf="cambio" style="color: green;">*Contraseña actualizada</p>
      
    </div>

    <div class="user-image">
      <img width="100%" *ngIf="user.image!=''" width="100%" src="{{user.image}}" alt="TEMPLATE">
      <img width="100%" *ngIf="user.image==''" src="https://th.bing.com/th/id/OIP.OzrDfJDiHwacHn6ynsrGnQHaF7?w=223&h=180&c=7&r=0&o=5&pid=1.7" alt="TEMPLATE">
      <input type="file" (change)="onFileSelected($event)">
      <div style="display: flex; flex-direction: row;">
        <div style="margin-right: 30px;" class="btn-color change-name">
          <a (click)="onSubmit()" class="btn">Cambiar imagen</a>
        </div>
        <div class="btn-color change-name">
          <a (click)="onSubmitDelete()" class="btn">Borrar image</a>
        </div>
      </div>
      
    </div>
    

  </div>

  <div class="eliminate">
    <a ref="" id="btnEliminarCuenta" class="btn">Eliminar cuenta</a>
  </div>
  <footer class="footer-store" id="footer"></footer>
</section>