.container {
    margin-left: 296px;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-start;
  }

  .title {
    color: #21b916;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }

  .reservas {
    display: flex;
    flex-wrap: wrap;
  }

  .reserva {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    overflow: hidden;
    width: 350px;
  }

  .reserva:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  .reserva-header {
    background-color: #21b916;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 20px;
  }

  .reserva-header h2 {
    font-size: 24px;
    margin: 0;
  }

  .reserva-header p {
    font-size: 14px;
    margin: 0;
  }

  .reserva-body {
    padding: 20px;
  }

  .btn {
    margin: 0.5rem;
    background-color: #378311;
    color: white;
  }

  .btn:hover {
    background-color: #36b920;
  }

  .red {
    margin: 0.5rem;
    background-color: #c40006 !important;
    color: white !important;
  }

  .red:hover {
    background-color: #ff262d !important;
  }

  .reserva-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .reserva-item label {
    color: #21b916;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }

  ul {
    margin-block: 1rem;
    padding: 0;
    list-style: none;
  }

  ul li {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
  }

  .total {
    font-size: 18px;
    font-weight: bold;
  }
