<body>
  <app-header class="header-dashboard shadow-sm" id="header"></app-header>
  <main class="main-tienda">

    <aside id="aside" class="aside-dashboard shadow-lg  mb-5 rounded">
      <button onclick="showCategoryMov(0)" type="button" class="btn btn-success">Volver..</button>
      <div class="aside-user">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226
          4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg><br>
        <h3> Administrador</h3>
      </div>
      <p>Funcionlidades</p>


    </aside>



    <section class="products">
      <div class="aside-mov">
        <button onclick="showCategoryMov(1)" type="button" class="btn btn-light shadow-lg">Funciones</button>
      </div>
      <div class="count-tab">
        <div class="count shadow-lg">
          <p>Nº de Usuarios</p>
          <h2>{{ numberOfUsers }}</h2>
        </div>

        <div class="count shadow-lg">
          <p>Nº de Pedidos</p>
          <h2>{{ numberOfOrders }}</h2>
        </div>

        <div class="count shadow-lg">
          <p>Nº de Reservas</p>
          <h2>{{ numberOfReservations }}</h2>
        </div>
      </div>

      <div class="content-tab">
        <div class="content-op-1 shadow-lg">
          <h1>Usuarios</h1>
          <p *ngFor="let user of users | async">
            {{ user.userName }} - {{ user.email }}
          </p>
        </div>
        <div class="content-op-2 shadow-lg">
          <h1>Pedidos</h1>
          <p *ngFor="let order of orders | async" (click)="getshowOrderDetails(order)">
            {{ order.Nombre }} - {{ order.Dia }} - {{ order.Hora }}
          </p>
        </div>
        <div class="reservas">
          <div class="reserva" *ngIf="showOrderDetails">
            <div class="reserva-header">
              <h2>{{ selectedOrder?.UUIDV4 }}</h2>
              <p>{{ selectedOrder?.FechaRealizacon | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="reserva-body">
              <div class="reserva-item">
                <label>Nombre:</label>
                <span>{{ selectedOrder?.Nombre }}</span>
              </div>
              <div class="reserva-item">
                <label>Fecha:</label>
                <span>{{ selectedOrder?.Dia }} {{ selectedOrder?.Hora }}</span>
              </div>
              <div class="reserva-item">
                <label>Teléfono:</label>
                <span>{{ selectedOrder?.Telefono }}</span>
              </div>
              <div class="reserva-item">
                <label>Productos:</label>
                <ul>
                  <li *ngFor="let producto of selectedOrder?.Productos,let i = index">{{ i + 1 }} - {{producto.NombreCorto}}</li>
                </ul>
              </div>
              <div class="reserva-item">
                <label>Total a pagar en caja:</label>
                <span>{{ selectedOrder?.Total }} €</span>
              </div>
              <button (click)="hideOrderDetails()">Ocultar detalles</button>
            </div>
          </div>
        </div>
      </div>

      <div class="content-tab">
        <div class="content-op-3 shadow-lg">
          <h1>Reservas de Taller</h1>
          <p *ngFor=" let reserve of reservations | async">
            {{ reserve.Nombre }} - {{ reserve.Dia }} - {{ reserve.Hora }}
          </p>
        </div>
      </div>




      <div class="eliminate">
        <a onclick="logout()" class="btn">Cerrar sesión</a>
      </div>

      <footer class="footer-store" id="footer"></footer>
    </section>

  </main>
</body>