
  <div id="aside-color">
    <p>AQUI VAN LAS CATEGORIAS</p>

    <div class="category">
      <h4 class="">CATEGORIA 1</h4>
      <div class="category-content">
        <a href="#">SUBCATEGORIA 1</a>
        <a href="#">SUBCATEGORIA 2</a>
      </div>
    </div>

    <div class="category">
      <h4 class="">CATEGORIA 2</h4>
      <div class="category-content">
        <a href="#">SUBCATEGORIA 1</a>
        <a href="#">SUBCATEGORIA 2</a>
      </div>
    </div>
    <div class="category">
      <h4 class="">CATEGORIA 3</h4>
      <div class="category-content">
        <a href="#">SUBCATEGORIA 1</a>
        <a href="#">SUBCATEGORIA 2</a>
      </div>
    </div>
    <div class="category">
      <h4 class="">CATEGORIA 4</h4>
      <div class="category-content">
        <a href="#">SUBCATEGORIA 1</a>
        <a href="#">SUBCATEGORIA 2</a>
      </div>
    </div>
    <div class="category">
      <h4 class="">CATEGORIA 5</h4>
      <div class="category-content">
        <a href="#">SUBCATEGORIA 1</a>
        <a href="#">SUBCATEGORIA 2</a>
      </div>
    </div>
    <div class="category">
      <h4 class="">CATEGORIA 6</h4>
      <div class="category-content">
        <a href="#">SUBCATEGORIA 1</a>
        <a href="#">SUBCATEGORIA 2</a>
      </div>
    </div>
  </div>

