<div class="carousel-home">
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
    <div class="carousel-indicators"></div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carouselBackground"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
